---
import Gallery from "../components/Gallery.astro";
import NavBar from "../components/NavBar.astro";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>emar27181 Portfolio Gallery</title>
	</head>
	<body>
		<NavBar />
		<div class="container" style="padding: 2rem 1rem;">
			<main>
				<Gallery />
			</main>
		</div>
	</body>
</html>
