---
import Gallery from "../components/Gallery.astro";
import NavBar from "../components/NavBar.astro";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/png"
			href="/favicon/ema_sign_logo_white.png"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="google-site-verification"
			content="uyjBT9z6vOnpxn6lM6YnxbI6R4jLSDIAboC8zo1slhM"
		/>
		<title>emar27181 Gallery</title>
	</head>
	<body>
		<div id="top"></div>
		<NavBar />
		<div class="container" style="padding: 2rem 0;">
			<main>
				<Gallery />
			</main>
		</div>
	</body>
</html>
